body
{
    margin: 0;
    background-color: black;
    color: white;
}
header
{
    display: flex;
    padding: 10px;
    height: 100px;
    background-image: url(amngu.png);
    justify-content: space-between;
}
header > div
{
    display: flex;
    justify-content: space-around;
    width: 650px;
}
.bemvindo
{
    justify-content: left;
    padding: 32px 0px 0px 0px;
    font-size: 30px;
}
header > div > div
{
    text-align: center;
    padding: 35px 20px 20px 20px;
    margin: 3px;
    width: 80px;
    border: 1px red solid;
    background-color: rgb(92, 0, 0);
    transform: skew(-15deg);
}
article
{
    display: flex;
    flex-direction: column;
    padding: 0px 150px;
}
article > div
{
    margin: 105px 0px 0px 0px;
    display: flex;
    width: 100%;
    height: 300px;
    justify-content: space-between;
    border: 1px red solid;
    transform: skew(-10deg);
    padding: 0px;
}
article > div > div
{
    margin: 3px;
    width: 50%;
    border: 1px red solid;
    background-color: rgb(92, 0, 0);
    padding: 0px 20px;
}
article > div > div > h1
{
    border-left: 10px red solid;
    background-color: rgb(92, 0, 0);
    padding: 20px;
}
article > div > div > p
{
    border-left: 10px red solid;
    border-bottom: 5px red solid;
    background-color: rgb(92, 0, 0);
    padding: 20px;
    height: 50%;
}