html{
    scroll-behavior: smooth;
}

body{
    margin: 0;
    background-color: black;
    color: white;
}

body > div{
    background-image: url(evo.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    padding: 200px;
}

body > div > div{
    font-size: 30px;
    padding: 20px;
    backdrop-filter: blur(3px);
    border-top: 8px solid red;
    transform: skew(-10deg);
    background-image: linear-gradient(rgba(96, 0, 0, 0.9), rgba(0, 0, 0, 0.1));
}

header{
    display: flex;
    padding: 10px;
    height: 80px;
    background-color: rgb(30, 30, 30);
    justify-content: space-around;
    border-bottom: 10px rgb(20, 20, 20) solid;
    border-right: 10px rgb(20, 20, 20) solid;
}

header > nav{
    box-shadow: 1px 5px 2px rgb(20, 20, 20);
    display: flex;
    width: auto;
    border-left: 10px rgb(20, 20, 20) solid;
    transform: skew(-15deg);
    align-items: center;
    font-weight: 900;
    justify-content: space-around;
}

header > nav > a{
    height: auto;
    align-content: center;
    text-decoration: none;
}

header > nav > div{
    border-top: 1px red solid;
    text-align: center;
    align-content: center;
    color: white;
    font-size: 20px;
    width: 48%;
    height: 100%;
    background-image: linear-gradient(rgb(82, 0, 0), rgb(30, 30, 30));
}

section.game-overview{
    display: flex;
    justify-content: space-between;
    padding: 50px 150px;
    background-image: linear-gradient(rgb(62, 0, 0), rgb(0, 0, 0));
}

section.game-overview > .game-image > img{
    border-left: 10px red solid;
}

section.game-overview > .game-details{
    width: 50%;
    background-color: rgb(92, 0, 0);
    padding: 20px;
    border: 1px red solid;
}

section.game-overview > .game-details > h2{
    font-size: 30px;
    font-weight: bold;
    background-image: linear-gradient(to right, rgb(60, 0, 0), rgb(92, 0, 0), rgb(92, 0, 0));
    padding: 10px;
    border-left: 10px red solid;
}

section.game-overview > .game-details > p{
    font-size: 20px;
    line-height: 1.5;
}

section.game-description, section.game-features{
    padding: 0px 150px;
    background-image: linear-gradient(rgb(62, 0, 0), rgb(0, 0, 0));
}

section.game-description > h2, section.game-features > h2{
    font-size: 30px;
    font-weight: bold;
    background-image: linear-gradient(to right, rgb(60, 0, 0), rgb(92, 0, 0), rgb(92, 0, 0));
    padding: 10px;
    border-left: 10px red solid;
}

section.game-description > p{
    font-size: 20px;
    line-height: 1.5;
    background-color: rgb(92, 0, 0);
    padding: 20px;
    border: 1px red solid;
}

section.game-features > ul{
    list-style-type: none;
    padding: 0;
    font-size: 20px;
    line-height: 1.5;
}

section.game-features > li{
    background-color: rgb(92, 0, 0);
    padding: 10px;
    margin: 10px 0;
    border: 1px red solid;
}

footer{
    display: flex;
    padding: 10px;
    height: 100px;
    background-color: rgb(20, 20, 20);
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 14px;
}
.i-aumenta0:hover {transform: scale(1.035);}